{% extends "event/base.html" %}

{% block nav_background_color %}{% endblock %}

{% block head_extends %}
    <script>
        const registrationOpenDate = new Date("{{ localtime(registration_open_date).strftime('%b %-d, %Y, %H:%M:%S') }}");
        const registrationCloseDate = new Date("{{ localtime(registration_close_date).strftime('%b %-d, %Y, %H:%M:%S') }}");
        const eventStartDate = new Date("{{ localtime(event_start_date).strftime('%b %-d, %Y, %H:%M:%S') }}");
    </script>
{% endblock %}

{% block nav_links %}
    <li><a href="#about">About</a></li>
    <li><a href="#schedule">Schedule</a></li>
    <li><a href="#faq">FAQ</a></li>
    <li><a href="#sponsors">Sponsors</a></li>
    <li><a href="#contact">Contact</a></li>
    {% if request.user.is_authenticated %}
        <li><a href="{{ url("event:dashboard") }}">Dashboard</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="landingBackground">
            <div class="container">
                <div class="section row" id="landing">
                    <div class="col container s12 m12 l7">
                        <h1 class="row header">Hack The Student Life</h1>
                        <div class="row">
                            <h4 class="header s12">AWS Hacks 2024</h4>
                        </div>
                        <div class="row">
                            <h5>@ University of Toronto</h5>
                            <h5>
                                {# Update this logic if your event ends in a different month or year #}
                                Date: {{ localtime(event_start_date).strftime("%B %d") }}
                            </h5>
                            <h5>
                                Location: AWS Office, 18 York St. 7th floor
                            </h5>
                        </div>
                        <div class="row">
                            {% if request.user.is_authenticated %}
                                {% if application is none and is_registration_open() %}
                                    <a href="{{ url("registration:application") }}"
                                       class="btn-large waves-effect waves-light colorBtn">Continue Application</a>
                                {% else %}
                                    <a href="{{ url("event:dashboard") }}"
                                       class="btn-large waves-effect waves-light colorBtn">Go to Dashboard</a>
                                {% endif %}
                            {% elif is_registration_open() %}
                                <a href="{{ url("registration:signup") }}"
                                   class="btn-large waves-effect waves-light colorBtn">Apply</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col s12 m12 l5 landingImg">
                        <img src="{{ static('event/images/landing.svg') }}" class="bounce" alt="landing"/>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="container colorScroll" data-background-color="#fff">
            <div class="section scrollspy" id="about">
                <div class="row">
                    <div class="col m12 l7" id="aboutText">
                        <h3 class="center">About us</h3>

                        <p class="center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.
                        </p>
                        <p class="center">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto
                            beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                            aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                            nesciunt.
                        </p>
                    </div>

                    <div class="col m12 l5 flexColCenter" id="countdown">
                        <h3 class="center" id="countdownTitle"></h3>
                        <div class="countdown">
                            <div class="col countdownNum">
                                <div class="countdownWhiteLine"></div>
                                <p id="day1"></p>
                            </div>
                            <div class="col countdownNum">
                                <div class="countdownWhiteLine"></div>
                                <p id="day2"></p>
                            </div>
                            <div class="col countdownNum">
                                <div class="countdownWhiteLine"></div>
                                <p id="day3"></p>
                            </div>
                        </div>
                        <div class="col center countdownDays" id="countdownUnit">Days</div>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/><br/>
        <div class="container colorScroll" data-background-color="#035E8A">
            <div class="section scrollspy" id="schedule">
                <div class="row schedule">
                    <div class="m12 center">
                        <h3 class="center">Schedule</h3>
                    </div>
                    <div class="col s12 m6 l6">
                        <h4 class="center">Morning</h4>
                        <div class="scheduleRow">
                            <p class="scheduleTime">8AM</p>
                            <p>Sign-in & Breakfast</p>
                        </div>
                        <div class="scheduleRow">
                            <p class="scheduleTime">9:15AM</p>
                            <p>Opening Ceremony</p>
                        </div>
                        <div class="scheduleRow">
                            <p class="scheduleTime">9:30AM</p>
                            <p><strong>Hacking Begins</strong></p>
                        </div>
                        <div class="scheduleRow">
                            <p class="scheduleTime">12PM</p>
                            <p>Lunch</p>
                        </div>
                    </div>
                    <div class="col s12 m5 l6">
                        <h4 class="center">Afternoon</h4>

                        <div class="scheduleRow">
                            <p class="scheduleTime">4PM</p>
                            <p><strong>Hacking Ends & Judging</strong></p>
                        </div>
                        <div class="scheduleRow">
                            <p class="scheduleTime">5PM</p>
                            <p>Networking CrashCourse</p>
                        </div>
                        <div class="scheduleRow">
                            <p class="scheduleTime">5:15PM</p>
                            <p>Mocktail Networking Session</p>
                        </div>
                        <div class="scheduleRow">
                            <p class="scheduleTime">5:45PM</p>
                            <p>Awards and Closing</p>
                        </div>
                    </div>
                </div>
                <div class="m12 center">
                    <a href="#" class="btn-large waves-effect waves-light colorBtn" rel="noopener" target="_blank">Full
                        schedule</a>
                </div>
            </div>
        </div>
        <br/><br/><br/>

        <div class="container colorScroll" data-background-color="#003650">
            <div class="section scrollspy" id="faq">
                <div class="row">
                    <div class="col s12 m12 center">
                        <h3 class="center">FAQ</h3>
                    </div>
                    <div class="col s12 m6">
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header">
                                    What is Hack The Student Life?
                                </div>
                                <div class="collapsible-body">
                                    <span> "Hack The Student Life" is a one-day hackathon event, collaboratively hosted by the IEEE University of Toronto Student Branch and AWS Toronto, with sponsorship from Softchoice. This dynamic and fast-paced event will offer University of Toronto students the chance to engage in a hackathon aimed at addressing challenges they have identified on campus through the use of cloud-based solutions. </span>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    When and where will this happen?
                                </div>
                                <div class="collapsible-body">
                                    <ul>
                                        <li> Location: 18 York Street., Toronto, ON, M5J 2T8</li>
                                        <li> Date: Friday, March.22nd</li>
                                        <li> Time: 8:00 AM to 6:00PM.</li>
                                        <li> We kindly remind potential participants to verify their academic schedules
                                            to prevent any conflicts with school assessments on the day of the
                                            hackathon. It is important to ensure your availability to participate
                                            without the need to request adjustments to your term work commitments for
                                            this event.
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    What is special about this hackathon?
                                </div>
                                <div class="collapsible-body">
                                    <span>The program provides students with exposure to industry practices and insights into Amazon's product planning strategies. Participants will initially adopt Amazon's "working backwards" methodology, emphasizing a customer-first approach to project development. This entails considering the presentation of their project to potential customers, such as formulating a succinct public relations message or an elevator pitch, and subsequently "working backwards" to realize their project.</span>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    What is special about this hackathon?
                                </div>
                                <div class="collapsible-body">
                                    <span>The program provides students with exposure to industry practices and insights into Amazon's product planning strategies. Participants will initially adopt Amazon's "working backwards" methodology, emphasizing a customer-first approach to project development. This entails considering the presentation of their project to potential customers, such as formulating a succinct public relations message or an elevator pitch, and subsequently "working backwards" to realize their project.</span>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    What are the problems that we are trying to solve?
                                </div>
                                <div class="collapsible-body">
                                <span>
                                    We invite participants to address a broad spectrum of problems or challenges they have experienced during their tenure as students at the University of Toronto. This encompasses a wide range of issues, from those commonly faced by first-year students—such as navigating the campus, adapting to a significant workload, and communicating in a new language—to personal challenges that may arise, including financial budgeting, dealing with homesickness, and expanding one's social and professional networks. We welcome solutions to any concern, provided it can be effectively addressed through cloud-based technologies.
                                </span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col s12 m6">
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header">
                                    What is the Mocktail Networking hour?
                                </div>
                                <div class="collapsible-body">
                                <span>
                                    We are offering participants an amazing opportunity to network with all the industry professionals from AWS and Softchoice, as well as the faculty members we invited from UofT. Participants are encouraged to showcase their innovative projects while cultivating their professional network. Furthermore, this event presents a valuable chance for attendees to enhance their communication and networking skills, providing a platform for personal and professional growth.
                                </span>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    Who will be judging this hackathon?
                                </div>
                                <div class="collapsible-body">
                                <span>
                                    The judging panel for the hackathon comprises distinguished professionals from both the academic and corporate sectors. The panel includes:
                                </span>
                                    <ul>
                                        <li>Bo Wandschneider: Chief Information Officer at the University of Toronto
                                        </li>
                                        <li>Christopher Yip: Dean of the Faculty of Applied Science & Engineering at the
                                            University of Toronto
                                        </li>
                                        <li>Eyal de Lara: Chair of the Computer Science Department at the University of
                                            Toronto
                                        </li>
                                        <li>David Horne: Education Sales Manager at AWS</li>
                                        <li>Andrew Caprara: Chief Executive Officer at Softchoice.</li>
                                    </ul>
                                    <span> These esteemed judges bring a wealth of experience and expertise to the evaluation process, ensuring a comprehensive assessment of the participants' innovative solutions.</span>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    What is the prize of this hackathon?
                                </div>
                                <div class="collapsible-body">
                                <span>
                                    The victorious team from among the 25 competing groups will have the distinguished opportunity to collaborate on a Proof of Concept (PoC) with the University of Toronto's Information Technology Services (ITS) utilizing their proposed solution.
                                </span>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    Who can apply? When is the deadline to apply?
                                </div>
                                <div class="collapsible-body">
                                <span>
                                    We’re welcoming any student who is currently a student at the University of Toronto! Applications open on March 1st, 2024 and close at 11:59 PM EST on March 8th. Acceptances will be internally decided on a rolling basis, so apply early to maximize your chances of getting accepted!
                                </span>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    How big can my team be?
                                </div>
                                <div class="collapsible-body">
                                <span>
                                    We are only accepting teams of 4 people. Teams will also be accepted as a group during the application process
                                </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/><br/>

        <div class="carousel">
            <!-- IMAGES MUST ALL BE THE SAME SIZE -->
            <a class="carousel-item"><img src="https://i.imgur.com/u9JEte7.jpg" alt="2020-image-1"/></a>
            <a class="carousel-item"><img src="https://i.imgur.com/Y95LgjJ.jpg" alt="2020-image-2"/></a>
            <a class="carousel-item"><img src="https://i.imgur.com/gkTya6z.jpg" alt="2020-image-3"/></a>
            <a class="carousel-item"><img src="https://i.imgur.com/sV9kcJ0.jpg" alt="2020-image-4"/></a>
            <a class="carousel-item"><img src="https://i.imgur.com/OphvNr1.jpg" alt="2020-image-5"/></a>
            <a class="carousel-item"><img src="https://i.imgur.com/2l2xp7E.jpg" alt="2020-image-6"/></a>
            <a class="carousel-item"><img src="https://i.imgur.com/jzCFrUA.jpg" alt="2020-image-7"/></a>
            <a class="carousel-item"><img src="https://i.imgur.com/cchUGUe.jpg" alt="2020-image-8"/></a>
            <a class="carousel-item"><img src="https://i.imgur.com/TbeTufj.jpg" alt="2020-image-9"/></a>
            <a class="carousel-item"><img src="https://i.imgur.com/B4vfSWL.jpg" alt="2020-image-10"/></a>
            <a class="carousel-item"><img src="https://i.imgur.com/iBbFyns.jpg" alt="2020-image-11"/></a>
            <a class="carousel-item"><img src="https://i.imgur.com/pv6NmC4.jpg" alt="2020-image-12"/></a>
            <a class="carousel-item"><img src="https://i.imgur.com/HjNbGhK.jpg" alt="2020-image-13"/></a>
            <a class="carousel-item"><img src="https://i.imgur.com/U33ZyB2.jpg" alt="2020-image-14"/></a>
            <a class="carousel-item"><img src="https://i.imgur.com/Ig49uvq.jpg" alt="2020-image-15"/></a>å
        </div>
    </div>
    <br/><br/>

    <div class="container">
        <div class="section scrollspy" id="sponsors">
            <div class="row">
                <h3 class="center">Sponsors</h3>
                <img src="{{ static('event/images/sponsors.png') }}"
                     style="max-width: 90%;"
                     alt="One big sponsor image"/>
                <p class="center">
                    If you would like to sponsor us, feel free to reach out:
                    <a href=mailto:{{ contact_email }}" class="hoverLink">{{ contact_email }}</a>
                </p>
            </div>
        </div>
    </div>

    <footer class="page-footer secondaryColor fontText">
        <div class="container scrollspy" id="contact">
            <h3 class="row center">Contact Us</h3>

            <!-- To change the color of the icons, read the .contactBtns class in styles.scss -->
            <div class="row center contactBtns">
                <a href="mailto:{{ contact_email }}" class="waves-effect waves-light" rel="noopener"
                   target="_blank"><img src="{{ static('event/images/social/email.svg') }}" alt="Email"/></a>
                <a href="https://www.ieee.utoronto.ca" class="waves-effect waves-light" rel="noopener"
                   target="_blank"><img src="{{ static('event/images/social/website.svg') }}"
                                        alt="ieee.utoronto.ca"/></a>
                <a href="https://www.facebook.com/ieeeuoft" class="waves-effect waves-light" rel="noopener"
                   target="_blank"><img src="{{ static('event/images/social/facebook.svg') }}" alt="Facebook"/></a>
                <a href="https://www.instagram.com/ieee_uoft" class="waves-effect waves-light" rel="noopener"
                   target="_blank"><img src="{{ static('event/images/social/instagram.svg') }}" alt="Instagram"/></a>
            </div>
        </div>
        <div class="footer-copyright center">
            <div class="container fontText">
                Copyright © {% if localtime(event_end_date).year > 2020 %}2020 -{% endif %}
                {{ localtime(event_end_date).strftime("%Y") }} IEEE University of Toronto Student Branch
            </div>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    <script src="{{ static('event/js/landing.js') }}"></script>
{% endblock %}
